In [11]:
# Concatenating Data
# Creating dictionary

temperature1 = {"Date" : [2010-1-30, 2010-1-30],
               "Element":["tmax", "tmin"],
                "value":[27.8, 14.5]}


temperature2 = {"Date" : [2010-1-30, 2010-1-30],
               "Element":["tmax", "tmin"],
                "value":[27.3, 14.4]}

print(temperature1)
print(temperature2)
type(temperature1)

{'Date': [1979, 1979], 'Element': ['tmax', 'tmin'], 'value': [27.8, 14.5]}
{'Date': [1979, 1979], 'Element': ['tmax', 'tmin'], 'value': [27.3, 14.4]}

dict

In [14]:
import pandas as pd

temp_data1 = pd.DataFrame(temperature1)
temp_data2 = pd.DataFrame(temperature2)

print(temp_data1)
print(temp_data2)

   Date Element  value
0  1979    tmax   27.8
1  1979    tmin   14.5
   Date Element  value
0  1979    tmax   27.3
1  1979    tmin   14.4

In [16]:
temp_concat = pd.concat([temp_data1, temp_data2], ignore_index=True)

print(temp_concat)

   Date Element  value
0  1979    tmax   27.8
1  1979    tmin   14.5
2  1979    tmax   27.3
3  1979    tmin   14.4

In [18]:
# Concatenating dataFrames

# First we will first create the dictionary then we convert it into Dataframe

person = {"Country":["AD", "AE", "AF", "AD", "AE", "AF"],
          "Year":[2000, 2000, 2002, 2006, 2009, 2017],
          "Variable": ["m014", "m014", "m014", "m1524", "m1524", "m1524"],
          "Value": [0, 2, 52, 0, 4, 228]}
print(person)

detail = {"Age_group":[14, 14, 14, 24, 26, 27],
           "Sex":["m", "m", "f", "m", "f", "f"]}
print(detail)

{'Country': ['AD', 'AE', 'AF', 'AD', 'AE', 'AF'], 'Year': [2000, 2000, 2002, 2006, 2009, 2017], 'Variable': ['m014', 'm014', 'm014', 'm1524', 'm1524', 'm1524'], 'Value': [0, 2, 52, 0, 4, 228]}
{'Age_group': [14, 14, 14, 24, 26, 27], 'Sex': ['m', 'm', 'f', 'm', 'f', 'f']}

In [19]:
person1 = pd.DataFrame(person)
detail1 = pd.DataFrame(detail)

print(person1)
print(detail1)

  Country  Year Variable  Value
0      AD  2000     m014      0
1      AE  2000     m014      2
2      AF  2002     m014     52
3      AD  2006    m1524      0
4      AE  2009    m1524      4
5      AF  2017    m1524    228
   Age_group Sex
0         14   m
1         14   m
2         14   f
3         24   m
4         26   f
5         27   f

In [23]:
# Important : Axis=0, to stake the dataframe on teop of each other, Axis=1, to place the dataframe side by side.
person_detail = pd.concat([person1, detail1], axis=1)

print(person_detail)

  Country  Year Variable  Value  Age_group Sex
0      AD  2000     m014      0         14   m
1      AE  2000     m014      2         14   m
2      AF  2002     m014     52         14   f
3      AD  2006    m1524      0         24   m
4      AE  2009    m1524      4         26   f
5      AF  2017    m1524    228         27   f

In [30]:
person_detail[person_detail.Value > 2]

  Country  Year Variable  Value  Age_group Sex
2      AF  2002     m014     52         14   f
4      AE  2009    m1524      4         26   f
5      AF  2017    m1524    228         27   f