In [6]:
# Prepare and clean data

# -- Dictionary -- to -- Dataframe

paitent= {"Name":["Daniel", "John", "Jane"],
        "Sex":["male","male", "female"],
          "Treatement a":[ 0 ,12, 24],
          "Treatement b":[42, 34, 27]}
print(paitent)

{'Name': ['Daniel', 'John', 'Jane'], 'Sex': ['male', 'male', 'female'], 'Treatement a': [0, 12, 24], 'Treatement b': [42, 34, 27]}

In [7]:
import pandas as pd

paitent1 = pd.DataFrame(paitent)

print(paitent1)

     Name     Sex  Treatement a  Treatement b
0  Daniel    male             0            42
1    John    male            12            34
2    Jane  female            24            27

In [8]:
# Data type
print(paitent1.dtypes)

# There may be times we want to convert from one type to another.
# Numeric columns can be strings, or vic versa

Name            object
Sex             object
Treatement a     int64
Treatement b     int64
dtype: object

In [9]:
# Converting data types
paitent1['Treatement b'] = paitent1['Treatement b'].astype(str)
paitent1['Sex'] = paitent1['Sex'].astype('category')
paitent1.dtypes

Name              object
Sex             category
Treatement a       int64
Treatement b      object
dtype: object

In [10]:
# Cleaning Data : Numeric data loaded as a string

print(paitent1)
paitent1.dtypes

     Name     Sex  Treatement a Treatement b
0  Daniel    male             0           42
1    John    male            12           34
2    Jane  female            24           27

Name              object
Sex             category
Treatement a       int64
Treatement b      object
dtype: object

In [11]:
paitent1['Treatement a'] = pd.to_numeric(paitent1['Treatement a'], errors='coerce')
paitent1.dtypes

Name              object
Sex             category
Treatement a       int64
Treatement b      object
dtype: object

In [12]:
# Using Regular expressions to clean Strings : for more refer @ DATATYPE FROM GITHUB/BAYYARAGHU (String manipulation)

import re  

pattern = re.compile('\$\d*\.\d{2}')

result = pattern.match('$17.89')
bool(result)

True

In [13]:
# Using Function to clean data
   # complex cleaning
    # cleaning step requires multiple steps
    # Extract number from string
    # Perform transformation on extracted number
    # python function

In [14]:
 print(paitent1)

     Name     Sex  Treatement a Treatement b
0  Daniel    male             0           42
1    John    male            12           34
2    Jane  female            24           27

In [15]:
treatement = paitent1[["Treatement a", "Treatement b"]]
print(treatement)

   Treatement a Treatement b
0             0           42
1            12           34
2            24           27

In [16]:
import numpy as np

treatement.apply(np.mean, axis=0)

Treatement a        12.000000
Treatement b    141142.333333
dtype: float64

In [17]:
import pandas as pd

emp = pd.read_csv('employs.csv')
print(emp)

emp.dtypes

         Job  Doc   Borough Initial Cost Total Est.Fee
0  121578451    2  Montreal   $75,000.00       $986.00
1  524616664    1   Toronto        $0.00     $1,244.00
2  121545555    1    Ottawa   $30,000.00       $522.00
3  541245455    1   Alberta    $1,500.00       $255.25
4  251551512    1   Toronto  $195,450.00       $545.25

Job               int64
Doc               int64
Borough          object
Initial Cost     object
Total Est.Fee    object
dtype: object

In [18]:
import re
from numpy import NaN
pattern = re.compile('^\$\d*\.\d{2}$')

In [19]:
def diff_money(emp, pattern):
    
    icost = emp['Initial Cost']
    tef = emp['Total Est.Fee']
    
    if bool(pattern.match(icost)) and bool(pattern.match(tef)):
        
        icost = icost.replace("$", "")
        tef =  tef.replace("$", "")
        
        icost = float(icost)
        tef = float(tef)
        
        return icost - tef
    else:
        return(NaN)

In [20]:
emp['diff'] = emp.apply(diff_money, axis=1, pattern=pattern)

print(emp.head())

         Job  Doc   Borough Initial Cost Total Est.Fee  diff
0  121578451    2  Montreal   $75,000.00       $986.00   NaN
1  524616664    1   Toronto        $0.00     $1,244.00   NaN
2  121545555    1    Ottawa   $30,000.00       $522.00   NaN
3  541245455    1   Alberta    $1,500.00       $255.25   NaN
4  251551512    1   Toronto  $195,450.00       $545.25   NaN

In [21]:
# Duplicate and Missing Data

 # 1. Can Skew Result.
 # 2. '.drop_duplicates() method'
# -- Dictionary -- to -- Dataframe

paitent2= {"Name":["Daniel", "John", "Jane", "Daniel"],
        "Sex":["male","male", "female", "male"],
          "Treatement a":[ 0 ,12, 24, 0],
          "Treatement b":[42, 34, 27, 42]}
print(paitent2)

{'Name': ['Daniel', 'John', 'Jane', 'Daniel'], 'Sex': ['male', 'male', 'female', 'male'], 'Treatement a': [0, 12, 24, 0], 'Treatement b': [42, 34, 27, 42]}

In [22]:
patient_2 = pd.DataFrame(paitent2)

print(patient_2)

     Name     Sex  Treatement a  Treatement b
0  Daniel    male             0            42
1    John    male            12            34
2    Jane  female            24            27
3  Daniel    male             0            42

In [23]:
df_patient = patient_2.drop_duplicates()
print(df_patient)

     Name     Sex  Treatement a  Treatement b
0  Daniel    male             0            42
1    John    male            12            34
2    Jane  female            24            27

In [24]:
# Missing Data
   # Leave as is, Drop them, Fill Missing value

import pandas as pd

job_detail = pd.read_csv('job_det.csv')

print(job_detail)

   Total bill   tip     sex smoker  day    time   size
0       16.99  1.01  Female      No  Sun  Dinner   2.0
1         NaN  1.66    Male      No  Mon  Dinner   3.0
2       21.01  3.50    Male      No  Tue  Dinner   3.0
3       23.68   NaN    Male      No  Wed  Dinner   2.0
4       24.59  3.61    Male     NaN  Thu     NaN   4.0

In [26]:
# to count missing values

job_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
Total bill    4 non-null float64
tip           4 non-null float64
sex           5 non-null object
smoker        4 non-null object
day           5 non-null object
time          4 non-null object
size          5 non-null float64
dtypes: float64(3), object(4)
memory usage: 408.0+ bytes

In [28]:
# Drop missing values
job_drop = job_detail.dropna()

job_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 2
Data columns (total 7 columns):
Total bill    2 non-null float64
tip           2 non-null float64
sex           2 non-null object
smoker        2 non-null object
day           2 non-null object
time          2 non-null object
size          2 non-null float64
dtypes: float64(3), object(4)
memory usage: 128.0+ bytes

In [30]:
print(job_drop)

   Total bill   tip     sex smoker  day    time   size
0       16.99  1.01  Female      No  Sun  Dinner   2.0
2       21.01  3.50    Male      No  Tue  Dinner   3.0

In [ ]:
# Fill missing values with .fillna()
  # Fill with provided value
    # Use a summary statistic